@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1, h2, a{
    font-family: Roboto;
    text-decoration: none;
    color:#7699D4
}
body main a{
    padding: 1%;
    margin: 5%;
    color:white;
    background-color: #7699D4;
    border-radius: 5%;
}

.logo_link{
    background-color: none;
    display: block;
    padding: none;
    margin: 0 auto;
    text-align: center;
}

header nav a{
    text-align: center;
    margin: 0  auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 3%;
    background-color: #D1603D;
    color:white;
    border-radius: 1em;
}
header nav a:hover{
    text-align: center;
    margin: 0  auto;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color:#7699D4;
    color:white;
    border-radius: 1em;
}
div div img{
    width: 100%;
    border-radius: 1em;
}
body div{
    padding-top: 0.5%;
    margin: 0 auto;
    text-align: center;
}
main{
    margin: 0 auto;
    text-align: center;
}
.home-title {
    font-size: 30px;
}
.home-grid img{
    border-radius: 5%;
    border: solid 5px #D1603D;
    margin-top: 5%;
    margin-bottom: 5%;
}
footer a{
    padding: 1%;
    margin: 5%;
    color:#7699D4;
    background-color: white;
    border-radius: 5%;
}